#quicksearch{
    height:800px;
    width: 100%;  
}
#quickHeading{
    font-size: 40px; 
    margin-left: 8%;
    color: #dd5858;
    display: block;
}

#quickHeading:hover{
    color: blueviolet;
    width: max-content;
}
#quickHeading > span{
    margin-right: 43%;
    text-align: none;
    
}
#quickSubHeading{
    font-size: 30px;
    margin-left: 8%;
    color:grey;
}
.mainTile{
    margin-left: 10%;

}
.card{
    display: inline-block;
    margin-left: 3%;
    box-shadow:10px 20px 10px grey ;
    margin-top: 3%;
    
    background-color: #f1d9d9;
    
}

.card:hover{
    transform: scale(1.1);
}
.card-body{
    background-color: #e5d1d1;
}
.card > img{
    width: 100%;
}
.card-body > a{
    text-decoration: none;
    font-size:30px;
    text-align: center;
    color:#8b3437;
    margin-left: 25%;
}
.card-text{
    font-size: 20px;
}
.tileComponent1{
    width: 100%;
    height: 180px;
}

.tileHeading{
    font-size:30px;
    text-align: center;
    margin-top: -1%;
}
.tileHeading > a{
    text-decoration: none;
    color: brown;
}
.tileSubHeading{
    font-size: 20px;
    text-align: center;
}
.burger{
    height:160px;
    width: 240px;

}